#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

ul {
  list-style: none;
}

.responseHolder {
  border: 1px solid #ffffff;
  border-radius: 8px;
  padding: 0.5rem;
}

.responseGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
